# Introduzione a Python 3/4

12 Febbraio 2024

## Argomenti

1. Comprehension
1. Dizionari (dict)
1. Insiemi (set)

## List comprehension

La list comprehension è una forma di scrittura molto frequente in Python (e anche molto efficiente). Supponiamo di voler costruire una lista con tutti i numeri interi da 0 a 9. Un modo per farlo è

In [2]:
lista1 = [] # creiamo una lista vuota
for numero in range(10):
    lista1.append(numero) # aggiungiamo i numeri via via che range li produce

lista1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Un modo equivalente per ottenere questo risultato è il seguente

In [3]:
lista1 = [x for x in range(10)]
lista1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

La scrittura `[x for x in range(10)]` si legge abbastanza chiaramente:
- le parentesi quadre indicano che si tratta di una lista
- la `x` rappresenta il generico elemento della lista
- il resto è più o meno interpretabile come "prendi tutte le x per ogni x che sta in range(10)"

Un altro esempio:

In [7]:
frutta = ["mela", "banana", "ciliegia", "kiwi", "mango"]

frutta_maiuscolo = [x.upper() for x in frutta]

print(frutta_maiuscolo)

['MELA', 'BANANA', 'CILIEGIA', 'KIWI', 'MANGO']

Nella comprehension si possono anche inserire condizionali. Supponiamo di avere una lista di numeri e di voler creare un'altra lista con i soli numeri maggiori di 5.

In [8]:
lista1 = [1,4,6,3,8,6,9]
lista2 = [x for x in lista1 if x > 5]
lista2

[6, 8, 6, 9]

### Esercizio

Data una lista di stringhe `L` e una lettera `x`, produrre una nuova lista contenente solo le stringhe di `L` che hanno la lettera `x`. Ad esempio, se `L = ['mario', 'alice', 'carla', 'luigi']` e se la lettera è `c`, la nuova lista deve essere `['alice', 'carla']`

In [10]:
nomi = ['mario', 'alice', 'carla', 'luigi']

print(nomi_con_la_c)

['alice', 'carla']

### Un esempio dal futuro ...

In [ ]:
name = 'Frank Herbert'
regex = '[^.]*' + name + '[^.]*'
matches = re.findall(regex, complete_text)
[m.strip() + '.' for m in matches]

# Tuple

Sono tipi di dati analoghi alle liste, ma sono **immutabili**. Sono delimitate da due parentesi tonde. Si comportano analogamente alle liste, eccetto, ovviamente, per le operazioni che comportano una modifica. Tali operazioni generano errore.

In [18]:
t1 = (1, 3, 55, 'Fabrizio')

In [19]:
t1[0]

1

In [20]:
t1[3]

'Fabrizio'

In [21]:
t1[3][1]

'a'

In [23]:
t1[1] = 12

TypeError: 'tuple' object does not support item assignment

Molto spesso le funzioni e i metodi di Python restituiscono tuple.

# Dizionari

Un `dict` (dictionary) è una tabella con una o più `keys` a ognuna delle quali corrisponde un `value`.

In [27]:
d1 = {'nome': 'Mickey', 'cognome': 'Mouse'}

In [28]:
type(d1)

dict

Gli elementi di un dizionario sono raggruppati in `items`, `keys` e `values`.

In [29]:
d1.items()

dict_items([('nome', 'Mickey'), ('cognome', 'Mouse')])

In [30]:
d1.keys()

dict_keys(['nome', 'cognome'])

In [35]:
d1.values()

dict_values(['Minnie', 'Mouse'])

Le keys di un dizionario devono essere **uniche** e **immutabili**. Come keys si usano di solito stringhe (`nome`, `cognome`) ma si possono usare anche numeri. I values invece sono mutabili.

In [36]:
d1['nome'] = 'Minnie'

In [37]:
d1

{'nome': 'Minnie', 'cognome': 'Mouse'}

Per aggiungere una chiave a un dizionario, basta usare la sintassi per la modifica. Se la chiave non esiste, viene creata e il valore viene associato.

In [38]:
d1['creatore'] = 'Disney'

In [39]:
d1

{'nome': 'Minnie', 'cognome': 'Mouse', 'creatore': 'Disney'}

In [40]:
del d1['creatore']

In [41]:
d1

{'nome': 'Minnie', 'cognome': 'Mouse'}

### Come leggere i dati di un dizionario

Si può usare il metodo `items` che restituisce, una ad una, le coppie `(chiave, valore)` come una tupla.

In [46]:
for key, value in d1.items():
    print(f'{key}: {value}')

nome: Mickey
cognome: Mouse
anno_di_nascita: 1928

### Dizionari nella rappresentazione dei dati

I dizionari sono usati molto per rappresentare i dati. Supponiamo che i dati siano in una tabella

|nome | cognome | anno_di_nascita|
|-----|---------|----------------|
|Mickey | Mouse | 1928|
|Minnie | Mouse | 1928|
|Wile E.|Coyote | 1949|

e quindi ogni riga è un dizionario. E la tabella è una lista di dizionari.

In [44]:
d1 = {}
d1['nome'] = 'Mickey'
d1['cognome'] = 'Mouse'
d1['anno_di_nascita'] = 1928

d2 = {}
d2['nome'] = 'Minnie'
d2['cognome'] = 'Mouse'
d2['anno_di_nascita'] = 1928

d3 = {}
d3['nome'] = 'Wile E.'
d3['cognome'] = 'Coyote'
d3['anno_di_nascita'] = 1949

print(d1)
print(d2)
print(d3)

personaggi_cartoni = []
personaggi_cartoni.append(d1)
personaggi_cartoni.append(d2)
personaggi_cartoni.append(d3)

print(personaggi_cartoni)

{'nome': 'Mickey', 'cognome': 'Mouse', 'anno_di_nascita': 1928}
{'nome': 'Minnie', 'cognome': 'Mouse', 'anno_di_nascita': 1928}
{'nome': 'Wile E.', 'cognome': 'Coyote', 'anno_di_nascita': 1949}
[{'nome': 'Mickey', 'cognome': 'Mouse', 'anno_di_nascita': 1928}, {'nome': 'Minnie', 'cognome': 'Mouse', 'anno_di_nascita': 1928}, {'nome': 'Wile E.', 'cognome': 'Coyote', 'anno_di_nascita': 1949}]

### Esercizio

Scrivere un piccolo programma che legge la lista dei personaggi `personaggi_cartoni` e stampa di ciascuno *solo* l'anno di nascita.

In [48]:
for personaggio in personaggi_cartoni:
    # personaggio è un dict
    print(f'{personaggio["anno_di_nascita"]}')

1928
1928
1949

## I dizionari non hanno indici, ma solo chiavi

I dizionari non hanno indici: non c'è un primo elemento, un secondo elemento, ecc. come nelle liste, nelle stringhe e nelle tuple. L'unica maniera per accedere ai valori in un dizionario è utilizzare le chiavi.

I dizionari sono implementati con algoritmi particolarmente efficienti e quindi, data una chiave, recuperano il valore in tempo molto rapido.

# Sets

I `sets` sono "raccolte di oggetti" con l'unico requisito che lo stesso oggetto non può essere incluso più di una volta, come per gli insiemi in matematica. Si definiscono con le parentesi graffe come i dizionari ma non c'è amnbiguità perché non ci sono i `:`.

In [49]:
set1 = {1, 3, 'Fabrizio', 99}

In [51]:
type(set1)

set

In [52]:
set1.add(4)
set1

{1, 3, 4, 99, 'Fabrizio'}

In [53]:
99 in set1

True

In [54]:
100 in set1

False

In [55]:
set2 = {5, 55, 555}

In [58]:
set3 = set1.union(set2)

In [59]:
set3

{1, 3, 4, 5, 55, 555, 99, 'Fabrizio'}

In [60]:
set1.intersection(set2)

set()

In [61]:
set1.remove('Fabrizio')

In [62]:
set1

{1, 3, 4, 99}

# Trasformazione di oggetti di un tipo in oggetti di un altro tipo

Supponiamo che i dati che interessa analizzare siano contenuti in un insieme e che il programma che li deve analizzare debba usare una lista.

In [73]:
l1 = list(set1)

In [74]:
l1

[1, 3, 4, 99]

In [75]:
t1 = tuple(set1)

In [76]:
t1

(1, 3, 4, 99)

In [77]:
l2 = list(t1)

In [78]:
l2

[1, 3, 4, 99]

Si può fare anche il contrario

In [79]:
set3 = set(l1)

In [80]:
set3

{1, 3, 4, 99}