# Introduzione a Python 2/4

5 Febbraio 2024

## Argomenti

1. Operatori di confronto
1. Tipi mutabili e immutabili
1. Numeri (int, float)
1. Liste (list)
1. Ciclo for
1. Condizionali

## Operatori di confronto

In [1]:
3 == 2+1

True

In [2]:
3 > 4

False

**Attenzione a non confondere `=`, che è l'operatore di assegnazione, con `==`, che è l'operatore di confronto!**

## Numeri

Il tipo di dati numerico contiene molti sottotipi ma i più frequenti sono gli interi, `int`, e i numeri con la virgola, `float`.

In [11]:
a = 4
type(a)

int

In [12]:
a = 1.9 + 1.1
type(a)

float

In [14]:
a = 3.0
type(a)

float

## Tipi mutabili e immutabili

Gli oggetti di Python possono essere mutabili o immutabili. *Mutabile* significa che il suo contenuto può cambiare dopo che la variabile è stata assegnata. *Immutabile* significa il contrario.

Le stringhe sono *immutabili*.

In [ ]:
s1 = 'Fabrizio'

In [ ]:
s1[3]

'r'

In [ ]:
s1[3]= 'b'

TypeError: 'str' object does not support item assignment

I numeri sono immutabili. Questo è ovvio perché `3` non può che voler dire 3 (tre).

## Liste

Le liste sono sequenze di oggetti qualsiasi. Sono delimitate da `[ ]`.

In [42]:
lista1 = [5, 9, 'Fabrizio']

In [28]:
type(lista1)

list

In [29]:
lista2 = [33, False, lista1]

In [30]:
print(lista2)

[33, False, [5, 9, 'Fabrizio']]

Le liste hanno indici, come le stringhe.

In [31]:
print(lista2[0], lista2[1], lista2[2])

33 False [5, 9, 'Fabrizio']

In [33]:
print(lista2[2][1]) 
# lista2[2] è la lista [1, 2, 'Fabrizio']. 
# lista2[2][1] è l'elemento di indice 1 nell'oggetto lista2[2], cioè 9

9

Le liste **sono mutabili**.

In [34]:
lista1[0] = 27

In [35]:
lista1

[27, 9, 'Fabrizio']

**Attenzione!**

In [36]:
lista2

[33, False, [27, 9, 'Fabrizio']]

Questo succede proprio perché le liste sono mutabili. Python crea locazioni di memoria e i nomi che usiamo per gli oggetti sono solo "riferimenti" alle locazioni di memoria (come degli indirizzi sono riferimenti a qualche posto). Se l'oggetto è mutabile, il suo contenuto può cambiare pur rimanendo lo stesso oggetto (come il bar in via Roma 43 può diventare una lavanderia, mantenendo lo stesso indirizzo).

Se non si vogliono modificare i contenuti delle variabili, si devono usare tipi di dati immutabili o creare copie delle variabili.

Le liste hanno una lunghezza.

In [38]:
print(f'La lunghezza della lista1 è {len(lista1)}')

La lunghezza della lista1 è 3

In [39]:
print(f'La lunghezza della lista2 è {len(lista2)}')

La lunghezza della lista2 è 3

Le liste hanno dei metodi specifici. Si può guardare [qui](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types)

In [43]:
lista1.append('Iozzi')
lista1

[5, 9, 'Fabrizio', 'Iozzi']

In [44]:
lista1.index(9)

1

In [45]:
'Fabrizio' in lista1

True

In [46]:
lista3 = lista1.copy()

In [47]:
lista3

[5, 9, 'Fabrizio', 'Iozzi']

In [48]:
lista3[1] = 44

In [49]:
lista1

[5, 9, 'Fabrizio', 'Iozzi']

In [50]:
lista3

[5, 44, 'Fabrizio', 'Iozzi']

In [51]:
lista3.pop()

'Iozzi'

In [52]:
lista3

[5, 44, 'Fabrizio']

In [53]:
lista3.reverse()

In [54]:
lista3

['Fabrizio', 44, 5]

Il metodo `reverse` agisce *in place*, cioè modifica l'oggetto su cui agisce e non restituisce nulla.

In [55]:
lista3.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

### Il metodo `join` delle stringhe

Supponiamo di avere una lista di nomi

In [56]:
lista_nomi = ['Alice', 'Marcello', 'Paola', 'Riccardo']

e di voler costruire una stringa con i nomi separati da una virgola: "Alice,Marcello,Paola,Riccardo".

Il metodo `join` delle stringhe svolge questa funzione. Si prende la stringa del separatore, la virgola in questo caso, si applica `join` al separatore e come parametro si passa una lista (o una qualunque altra sequenza di elementi).

Il metodo restituisce la stringa completa.

In [58]:
sep = ', '
lista_con_virgole = sep.join(lista_nomi)
lista_con_virgole

'Alice, Marcello, Paola, Riccardo'

# Il ciclo `for`

In molte occasioni si vuole scorrere gli elementi di una lista e su ognuno di essi svolgere delle operazioni. In questo caso conviene usare l'istruzione `for`.

La sintassi di `for` è

```python
for <elemento> in <sequenza>:
    fai_qualcosa
```

Attenzione a due cose importanti:
- il `:` alla fine della riga con il `for`
- l'indentazione delle istruzioni dipendenti dal `for`

Per esempio, se abbiamo la lista

In [59]:
lista4 = [1, 3, 6, 7, 9]

e vogliamo stampare una lista con tutti gli elementi moltiplicati per due, possiamo fare così

In [61]:
for elemento in lista4:
    print(f"Il doppio dell'elemento {elemento} è {2*elemento}")
print('Ho finito.')

Il doppio dell'elemento 1 è 2
Il doppio dell'elemento 3 è 6
Il doppio dell'elemento 6 è 12
Il doppio dell'elemento 7 è 14
Il doppio dell'elemento 9 è 18
Ho finito.

Si osservi che le istruzioni indentate sono eseguite una per elemento mentre l'istruzione finale, che non è indentata, viene eseguita una volta sola.

Quando la lista è finita, `for` si conclude e il programma prosegue con le istruzioni seguenti.

E se voglio stampare il doppio dei primi 5 numeri naturali? Potrei partire dalla lista [1, 2, 3, 4, 5] ma c'è una maniera rapida per creare un *iterabile* che produce questa lista. Un *iterabile* è un oggetto che, quando è chiamato dentro un ciclio `for` si mette a produrre elementi secondo un certo schema. 

Per produrre una iterabile che generi 5 numeri, si può usare `range(5)`, che genera i numeri 0, 1, 2, 3, 4. La regola è sempre che l'indice che vediamo è il primo a non essere scritto. Per esteso, `range(5)` sarebbe `range(0,5)`. Si può decidere di lasciare così o usare `range(1,6)`, se si vogliono i numeri da 1 a 5, e non da 0 a 4.

In [66]:
for numero in range(5):
    print(numero)

0
1
2
3
4

In [67]:
for numero in range(0,5):
    print(numero)

0
1
2
3
4

In [68]:
for numero in range(1,6):
    print(numero)

1
2
3
4
5

La sintassi completa di `range` è `range(start, stop[, step]`

In [1]:
for numero in range(1, 10, 2):
    print(numero)

1
3
5
7
9

`for` funziona con sequenze di qualsiasi tipo.

In [ ]:
frutti = ["mela", "banana", "ciliegia", "kiwi", "mango"]

for frutto in frutti:
    print(frutto)

mela
banana
ciliegia
kiwi
mango

In [2]:
s1 = 'Mickey Mouse'
for carattere in s1:
    print(carattere)

M
i
c
k
e
y

M
o
u
s
e

Quando si usa un ciclo for non sempre si "contano gli elementi". 

Se occorre anche contare gli elementi della sequenza, mentre li si elabora, si può esare la funzione `enumerate`.

`enumerate` manipola la sequenza in modo tale da restituire una coppia di oggetti: un indice e l'elemento della sequenza.

In [3]:
frutti = ["mela", "banana", "ciliegia", "kiwi", "mango"]

for indice, frutto in enumerate(frutti):
    print(indice, frutto)

0 mela
1 banana
2 ciliegia
3 kiwi
4 mango

# Condizionali

In mancanza di altre indicazioni, l'esecuzione delle istruzioni di un programma avviene dalla prima all'ultima istruzione. L'ordine di esecuzione viene modificato:
- dai *cicli* (ad esempio  l'istruzione `for`), che ripetono un gruppo di istruzioni un certo numero di volte
- dai *condizionali*, che eseguono un gruppo di istruzioni al verificarsi di una certa condizione

In Python, la principale istruzione condizionale è `if ... [elif] ... [else]`.

In [6]:
print('Inizio del programma.')
a = 3
if a == 3:
    print('a è uguale a 3')
print('Fine del programma.')

Inizio del programma.
a è uguale a 3
Fine del programma.

Le istruzioni dipendenti dalla condizione devono essere indentate. Si noti che:
- la condizione *non* è `a = 3`, ma `a == 3` (`=` è un operatore di assegnazione, non di confronto)
- il `:` dopo la condizione.

In [8]:
print('Inizio del programma.')
a = 4
if a == 3:
    print('a è uguale a 3')
else:
    print('a non è uguale a 3')
print('Fine del programma.')

Inizio del programma.
a non è uguale a 3
Fine del programma.

In [9]:
print('Inizio del programma.')
a = 5
if a == 3:
    print('a è uguale a 3')
elif a == 4:
    print('a è uguale a 4')
else:
    print('a non è uguale né a 3, né a 4')
print('Fine del programma.')

Inizio del programma.
a non è uguale né a 3, né a 4
Fine del programma.

Non uguale si scrive `!=`.

In [3]:
print('Inizio del programma.')
a = 4
if a != 3:
    print('a non è uguale a 3')
else:
    print('a non è uguale a 3')
print('Fine del programma.')

Inizio del programma.
a non è uguale a 3
Fine del programma.

Le condizioni si possono combinare con `and` e `or`. `and` restituisce vero solo se **le due condizioni sono entrambe vere**. `or` restituisce vero se **almeno una delle due condizioni è vera**.

In [4]:
print('Inizio del programma.')
a = 4
if a == 3 or a == 4:
    print('a è uguale a 3 o uguale a 4')
else:
    print('a non è uguale né a 3, né a 4')
print('Fine del programma.')

Inizio del programma.
a è uguale a 3 o uguale a 4
Fine del programma.

In [5]:
print('Inizio del programma.')
a = 4
if a < 10 and a > 5:
    print('a è compreso tra 5 e 10')
else:
    print('a è minore o uguale a 5, o maggiore o uguale a 10')
print('Fine del programma.')

Inizio del programma.
a è minore o uguale a 5, o maggiore o uguale a 10
Fine del programma.

C'è anche `not`, che trasforma il vero in falso e viceversa.

In [6]:
not (3 == 4)

True

In [7]:
3 != 4

True

`in` è un operatore che restituisce vero o falso. `a in b` è vero se `a` è contenuto nella sequenza `b`

In [1]:
'abr' in 'Fabrizio'

True

In [2]:
33 in [2, 33, 4, 6]

True

`not` e `in` si combinano in `not in `

In [8]:
'w' not in 'Fabrizio'

True

### Esercizio

In [11]:
frutti = ["mela", "banana", "ciliegia", "kiwi", "mango"]
frutti_con_la_n = []

# scrivere un piccolo programma che aggiunge a frutti_con_la_n tutti i frutti il cui nome contiene la m

print(frutti_con_la_n)

[]

### Esercizio

In [10]:
frutti = ["mela", "banana", "ciliegia", "kiwi", "mango"]
frutti_senza_la_n = []

# scrivere un piccolo programma che aggiunge a frutti_con_la_n tutti i frutti il cui nome non contiene la m

print(frutti_senza_la_n)

[]

### Esercizio

In [13]:
frutti = ["mela", "banana", "ciliegia", "kiwi", "fragola"]
frutti_che_mi_piacciono = ["banana", "fragola", "kiwi"]

# scrivere un piccolo programma che scrive tutti i frutti della lista "frutti"
# e aggiunge "mi piace" o "non mi piace" a seconda che il frutto sia o meno nella lista
# frutti_che_mi_piacciono